<%- include("partials/header.ejs") -%>
    <form action="/login" method="post">
        <br>
        <label for="username">Enter your username: </label>
        <input type="text" name="username">
        <br>
        <br>
        <label for="password">Enter your password: </label>
        <input type="text" name="password">
        <br>
        <br>
        <button type="submit"> Submit </button>
    </form>
<%- include("partials/footer.ejs") -%>
